<%- include("partials/header.ejs") %>

<h1 class="container">Spotify QR</h1>
<img class="qr" src="images/spotify.png" alt="spotify qr">

<div class="text">
    <p>
        Ένας τραγουδοποιός της νέας γενιάς έχει κάτι να σου πει! 
        Η δεύτερη προσωπική δουλειά του Αλέξανδρου Δάικου, μετά τη «Λευκή Ισοπαλία», ολοκληρώθηκε 
        και ο δημιουργός μοιράζεται πλέον με τον κόσμο 9 τραγούδια, που είναι 9 διαφορετικές ιστορίες!
        Ήχος σύγχρονος, με ροκ, έντεχνα και ποπ στοιχεία και με αναφορές στην παράδοση.
        Με στίχους που… φωτίζουν κοινωνικούς προβληματισμούς, αφηγούνται ερωτικές ιστορίες 
        και αναδύονται από μια εσωτερική αναζήτηση του δημιουργού 
        που περιγράφει μέσα σε λίγες γραμμές πως… κυοφορήθηκε και γεννήθηκε το άλμπουμ «Θα Σου Πω»
        «Τα τραγούδια αυτού του δίσκου ξεκίνησαν να γράφονται τέλη του 2019 και ολοκληρώθηκαν στα μέσα του 2021. 
        Στο διάστημα αυτό μεσολάβησαν πολλά γεγονότα που έπαιξαν καθοριστικό ρόλο σε αυτά που πραγματεύεται ο δίσκος. 
        Από προσωπικές εμπειρίες μέχρι το κίνημα #metoo, τις γυναικοκτονίες και τις πυρκαγιές του Αυγούστου, 
        τη δίκη της χρυσής αυγής, το προσφυγικό και φυσικά την απομόνωση που βιώσαμε όλοι. Όλη αυτή η διαδρομή λοιπόν αποτυπώθηκε σε 9 τραγούδια».
    </p>
</div>

<%- include("partials/footer.ejs") %>