<%- include("partials/header.ejs") %>

<div class="contact">
    <ul>
        <items>daikosalex@hotmail.com</items> 
        <items> +30 6981126524 </items>
    </ul>
</div>




<%- include("partials/footer.ejs") %>