<%- include("partials/header.ejs") %>

<div class="form welcome">
    <h1>
        Welcome to my page <%= fName %> <%= lName %>
    </h1>
    <h1>
        
        
    </h1>
</div>


<%- include("partials/footer.ejs") %>